<a href="https://colab.research.google.com/github/ghamawell/silabus-pelatihan-data-Analyst/blob/main/Project_Data_Analysis_for_Retail_Sales_Performance_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Overall Performance by Year

In [ ]:
SELECT
EXTRACT(YEAR FROM order_date) AS years,
SUM(sales) AS sales,
count(distinct order_id) as number_of_order
from dqlab_sales_store
where order_status = 'Order Finished'
group by 1
order by 1

Overall Performance by Product Sub Category

In [ ]:
SELECT 
 YEAR(order_date) AS years, 
 product_sub_category, 
 SUM(sales) AS sales
FROM dqlab_sales_store
WHERE order_status = 'Order Finished'
 AND YEAR(order_date) > 2010
GROUP BY years, product_sub_category
ORDER BY years, sales DESC;

Promotion Effectiveness and Efficiency by Years

In [ ]:
SELECT 
 YEAR(order_date) AS years, 
 SUM(sales) as sales, 
 SUM(discount_value) AS promotion_value,
 ROUND((SUM(discount_value)/SUM(sales))*100,2) AS burn_rate_percentage
FROM dqlab_sales_store
WHERE order_status = 'Order Finished'
GROUP BY years
ORDER BY years;

Promotion Effectiveness and Efficiency by Product Sub Category

In [ ]:
SELECT 
 YEAR(order_date) as years, 
 product_sub_category, 
 product_category, 
 SUM(sales) AS sales, 
 SUM(discount_value) AS promotion_value, 
 ROUND((SUM(discount_value)/SUM(sales))*100,2) AS burn_rate_percentage
FROM dqlab_sales_store
WHERE order_status = 'Order Finished'
 AND YEAR(order_date) = 2012
GROUP BY 
 years, 
 product_sub_category, 
 product_category
ORDER by sales DESC;

Customers Transactions per Year

In [ ]:
SELECT 
 YEAR(order_date) AS years, 
 COUNT(DISTINCT customer) AS number_of_customer
FROM dqlab_sales_store
WHERE order_status = 'Order Finished'
GROUP BY years
ORDER BY years;