<a href="https://colab.research.google.com/github/ghamawell/silabus-pelatihan-data-Analyst/blob/main/Project_Data_Analysis_for_B2B_Retail_Customer_Analytics_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Memahami table

In [ ]:
SELECT * FROM orders_1 limit 5;
SELECT * FROM orders_2 limit 5;
SELECT * FROM customer limit 5;

Total Penjualan dan Revenue pada Quarter-1 (Jan, Feb, Mar) dan Quarter-2 (Apr,Mei,Jun)

In [ ]:
select sum(quantity) as total_penjualan,sum(quantity*priceeach) as revenue from orders_1;
select sum(quantity) as total_penjualan,sum(quantity*priceeach) as revenue from orders_2 where status = 'Shipped';

Menghitung persentasi keseluruhan penjualan

In [ ]:
select quarter,sum(quantity) as total_penjualan,sum(quantity*priceeach) as revenue from 
(select ordernumber,status,quantity,priceeach, 1 as quarter from orders_1
UNION
select ordernumber,status,quantity,priceeach, 2 as quarter from orders_2)
as tabel_a where status = 'Shipped'
group by quarter;

Apakah jumlah customers xyz.com semakin bertambah?

In [ ]:
select quarter(createdate) as quarter, count(distinct customerid) as total_customers from 
(select customerid,createdate,quarter(createdate) as quarter from customer where createdate between '2004-01-01' and '2004-06-30') as tabel_b
group by quarter(createdate);

Seberapa banyak customers tersebut yang sudah melakukan transaksi?

In [ ]:
select quarter(createdate) as quarter, count(distinct customerid) as total_customers from 
(select customerid,createdate,quarter(createdate) as quarter from customer where createdate between '2004-01-01' and '2004-06-30' and customerid in 
 (select distinct customerid from orders_1
UNION
select distinct customerid from orders_2)) as tabel_b
group by quarter(createdate);

Category produk apa saja yang paling banyak di-order oleh customers di Quarter-2?

In [ ]:
select left(productcode,3) as categoryid,count(distinct ordernumber) as total_order,sum(quantity) as total_penjualan from 
(select productcode,ordernumber,quantity,status,left(productcode,3) as categoryid from orders_2 where status = "Shipped") tabel_c
group by left(productcode,3)
order by count(distinct ordernumber)desc;

Seberapa banyak customers yang tetap aktif bertransaksi setelah transaksi pertamanya?

In [ ]:
#Menghitung total unik customers yang transaksi di quarter_1
SELECT COUNT(DISTINCT customerID) as total_customers FROM orders_1;
#output = 25
SELECT "1" as quarter, (COUNT(DISTINCT customerID)*100)/25 as q2 FROM orders_1 where customerid in (SELECT DISTINCT customerID FROM orders_2);